header {
    background: radial-gradient(circle at center, #053bed80, #ecede9, #0f25c8, #ffffff);
    background-size: 400% 400%;
    
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  