body {
    background: radial-gradient(circle at center, #053bed80, #ecede9, #0f25c8, #ffffff);
    background-size: 500% 500%;
    animation: gradientAnimation 7s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 50% 0%;
    }
    75% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  